@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Potta+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Slackey&display=swap');

/*Fonts:
"Roboto Condensed", sans-serif; - titulo e texto card
"Handlee", cursive; - Texto
"Slackey", sans-serif; - Logo
"Potta One", system-ui;
Palheta de Cores:
https://paletadecores.com/paleta/4b1139/3b4058/2a6e78/7a907c/c9b180/
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-image: url(assets/img/fundo-comida.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1 {
    text-shadow: 02px 02px 01px black;
    color: #4b1139;
    font-family: "Slackey", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cabecalho {
    border-style: solid 1px #4b1139;

}

nav {
    position: relative;
    background-color: #4b1139;
    margin: 30px auto 30px;
    font-size: 0;
    text-shadow: 0px 01px 2px black;
    font-family: "Potta One", system-ui;
}

main {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: white;
    border-radius: 02px;
    transition: all .5s ease 0s;
}

a:nth-child(1) {
    width: 100px;
}

.start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
}

a:nth-child(2) {
    width: 110px;
}

.start-buffet,
a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
}

a:nth-child(3) {
    width: 110px;
}

.start-Gourmet,
a:nth-child(3):hover~.animation {
    width: 110px;
    left: 210px;
}

a:nth-child(4) {
    width: 110px;
}

.start-Especial,
a:nth-child(4):hover~.animation {
    width: 110px;
    left: 320px;
}

a {
    font-size: 15px;
    text-transform: uppercase;
    color: #c9b180;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

h2 {
    overflow: hidden;
}