@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(assets/img/fundo-comida.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    padding: 50px;
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
}

h1 {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 3rem;
    box-shadow: 0px 5px 10px black;
    border: solid 1px black;
    color: #063940;
    font-family: "Sonsie One", system-ui;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #195e63;
    font-family: "Marck Script", cursive;
    font-size: 03rem;
}

.home {
    justify-content: center;
    display: grid;
    grid-template-areas:
        'categoria01 categoria02'
        'categoria03 categoria04';
    gap: 50px;

}

button {
    height: 300px;
    width: 250px;
    border-radius: 15px;
    border: solid #063940 1px;
    box-shadow: 5px 10px 20px black;
}

.b1{
    background-image: url(assets/img/buffet.png);
    background-size: cover;
    text-shadow: 1px 3px 1px black;


}

.categoria01{
    
}